<div class="container">
  <h1>Welcome to FaceBug</h1>

  <form action= "/new_session" method= "post">

    <input type="text" name="email" placeholder= "email"><br><br>

    <input type="password" name="password" placeholder="password"><br><br><br>
    <input type="submit" value="Login"><br>

    <br>
<a href="/create"> Click here to Sign up!</a>
<br><br>
<a href="/forget_password"> forget password?</a>
<br><br>
</div>
  </form><br><br>
</div>

<% if !@error.nil? %>
  <%= @error %>
<% end %>

